<div class="bcp">
<div class="box">
    <div class="box__ghost">
      <div class="symbol"></div>
      <div class="symbol"></div>
      <div class="symbol"></div>
      <div class="symbol"></div>
      <div class="symbol"></div>
      <div class="symbol"></div>
      
      <div class="box__ghost-container">
        <div class="box__ghost-eyes">
          <div class="box__eye-left"></div>
          <div class="box__eye-right"></div>
        </div>
        <div class="box__ghost-bottom">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="box__ghost-shadow"></div>
    </div>
    <link href='https://fonts.googleapis.com/css?family=Notable' rel='stylesheet'>
    <div class="box__description">
      <div class="box__description-container">
        <div class="box__description-title">Boooo!</div>
        <div class="box__description-text">Your In The Wrong Place</div>
      </div>
      
      <button routerLink="/login" class="box__button">Go back</button>
      
    </div>
    
  </div>
</div>
<!-- 
    <button mat-fab color="primary" routerLink="/login">Home</button>
    <img src="/src/assets/404ghost.gif" alt="page 404" class="center">
    <router-outlet></router-outlet>
   -->
