<form class="div1 animated fadeIn slow"
      (ngSubmit)="onSubmit()"
>
<link href='https://fonts.googleapis.com/css?family=Notable' rel='stylesheet'>
  <mat-form-field class="example-full-width">
    <input matInput
           placeholder="Username"
           [formControl]="form.get('name')"
           [errorStateMatcher]="matcher"
    >
    <mat-error *ngIf="form.get('name').hasError('minlength') && !form.get('name').hasError('required')">
      Please enter a valid username (Minimum length: 4)
    </mat-error>
    <mat-error *ngIf="form.get('name').hasError('maxlength') && !form.get('name').hasError('required')">
      Please enter a valid username (Maximum length: 20)
    </mat-error>
    <mat-error *ngIf="form.get('name').hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput
           type="password"
           placeholder="Password"
           [formControl]="form.get('password')"
           [errorStateMatcher]="matcher"
    >
    <mat-error *ngIf="form.get('password').hasError('minlength') && !form.get('password').hasError('required')">
      Please enter a valid password (Minimum length: 4)
    </mat-error>
    <mat-error *ngIf="form.get('password').hasError('maxlength') && !form.get('password').hasError('required')">
      Please enter a valid password (Maximum length: 20)
    </mat-error>
    <mat-error *ngIf="form.get('password').hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select
      placeholder="Client type"
      [formControl]="form.get('clientType')"
    >
      <mat-option *ngFor="let client of clients" [value]="client.value">
        {{client.value}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('clientType').hasError('required')">
      Client type is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <button mat-button [disabled]="form.invalid || form.disabled">Log in</button>
  <button mat-button routerLink="/registration">Sign In</button>
</form>

