<h3>Coupon Table</h3>
<form class="div2 animated bounceInRight">
  <mat-form-field>
    <input matInput (keyup)="couponFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="couponSource" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Creation Date</th>
      <td mat-cell *matCellDef="let element">{{element.startDate}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>Experation Date</th>
      <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="couponType">
      <th mat-header-cell *matHeaderCellDef>Coupon Type</th>
      <td mat-cell *matCellDef="let element"> {{element.couponType}} </td>
    </ng-container>

    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef>Message</th>
      <td mat-cell *matCellDef="let element"> {{element.message}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="companyId">
      <th mat-header-cell *matHeaderCellDef>Company ID</th>
      <td mat-cell *matCellDef="let element"> {{element.companyId}} </td>
    </ng-container>


<!-- ['title', 'startDate', 'endDate', 'amount', 'couponType', 'message', 'price', 'companyId'] -->


    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="couponColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-description">
            <button mat-stroked-button class="button3"
                    (click)="onShowUpdate()"
            >Update
            </button>
            <br>
            <button mat-stroked-button class="button3"
                    (click)="onDelete(element.id)"
            >Remove
            </button>
            <br>
            <form *ngIf="showUpdate" class="example-form div2 animated bounceInUp faster"
                  (ngSubmit)="onUpdate(element.id)"
            >
              <mat-form-field class="example-full-width">
                <input matInput
                       placeholder="Title"
                       [formControl]="form.get('Title')"
                       [errorStateMatcher]="matcher"
                >
                <mat-error *ngIf="form.get('Title').hasError('minlength') && !form.get('Title').hasError('required')">
                  Please enter a valid title (Minimum length: 4)
                </mat-error>
                <mat-error *ngIf="form.get('Title').hasError('maxlength') && !form.get('Title').hasError('required')">
                  Please enter a valid title (Maximum length: 20)
                </mat-error>
                <mat-error *ngIf="form.get('Title').hasError('required')">
                  Title is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field style="width: 50%" color="accent">
                <mat-label>Start date</mat-label>
                <input matInput
                       type="date"
                       [matDatepicker]="startDate"
                       [formControl]="form.get('startDate')"
                       [errorStateMatcher]="matcher"
                >
                <mat-error *ngIf="form.get('startDate').hasError('required')">
                  Start date is <strong>required</strong>
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
              </mat-form-field>
              <mat-form-field style="width: 50%" color="accent">
                <mat-label>End date</mat-label>
                <input matInput
                       type="date"
                       [matDatepicker]="endDate"
                       [formControl]="form.get('endDate')"
                       [errorStateMatcher]="matcher"
                >
                <mat-error *ngIf="form.get('endDate').hasError('required')">
                  End date is <strong>required</strong>
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate color="primary"></mat-datepicker>
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width">
                <input matInput
                       type="number"
                       placeholder="Amount"
                       [formControl]="form.get('amount')"
                       [errorStateMatcher]="matcher"
                >
                <mat-error *ngIf="form.get('amount').hasError('min') && !form.get('amount').hasError('required')">
                  Please enter a valid amount (Minimum: 1)
                </mat-error>
                <mat-error *ngIf="form.get('amount').hasError('required')">
                  Amount is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-select
                  placeholder="Coupon type"
                  [formControl]="form.get('couponType')"
                >
                  <mat-option *ngFor="let coupon of coupons" [value]="coupon.value">
                    {{coupon.value}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('couponType').hasError('required')">
                  Coupon type is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width">
                <input matInput
                       placeholder="Message"
                       [formControl]="form.get('message')"
                       [errorStateMatcher]="matcher"
                >
                <mat-error
                  *ngIf="form.get('message').hasError('minlength') && !form.get('message').hasError('required')">
                  Please enter a valid message (Minimum length: 4)
                </mat-error>
                <mat-error
                  *ngIf="form.get('message').hasError('maxlength') && !form.get('message').hasError('required')">
                  Please enter a valid message (Maximum length: 20)
                </mat-error>
                <mat-error *ngIf="form.get('message').hasError('required')">
                  Message is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width">
                <input matInput
                       type="number"
                       placeholder="Price"
                       [formControl]="form.get('price')"
                       [errorStateMatcher]="matcher"
                >
                <mat-error *ngIf="form.get('price').hasError('min') && !form.get('price').hasError('required')">
                  Please enter a valid price (Minimum: 1)
                </mat-error>
                <mat-error *ngIf="form.get('price').hasError('required')">
                  Price is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width">
                <input matInput
                       type="number"
                       placeholder="Company ID"
                       [formControl]="form.get('companyId')"
                       [errorStateMatcher]="matcher"
                >
                <mat-error *ngIf="form.get('companyId').hasError('required')">
                  Company ID is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <button mat-button class="button2" [disabled]="form.invalid">Update</button>
            </form>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="couponColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: couponColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</form>
